.card {
    width: 33.3333333%!important;
    float: left;
    height: 260px;
    overflow: hidden;
}

.card img {
    max-width: 230px;
    display: block;
    width: 100%;
    border-radius: 160px;
    height: auto;
    margin: 15px auto;
    opacity: 1;
    transition: all 0.3s ease;
}

.card img:hover {
    opacity: 0.8;
    margin: 10px auto;
    max-width: 240px;

}
