.card {
  width: 25%!important;
  float: left;
  background height: 260px;
  overflow: hidden;
}

.card img {
  max-width: 150px;
  back display: block;
  width: 100%;
  border-radius: 160px;
  height: auto;
  margin: 15px auto;

  transition: all 0.3s ease;
}

.card img:hover {
  margin: 5px auto;
  max-width: 170px;
  transform: rotate(7deg);
}
