.card {
    width: 33.3333333%!important;
    float: left;
    overflow: hidden;
}

.card img {
    max-width: 230px;
    display: block;
    width: 100%;
    border-radius: 160px;
    height: auto;
    margin: 15px auto;
    margin-top: 5px!important;
    opacity: 1;
    transition: all 0.3s ease;
}

.card img:hover {
    opacity: 0.8;
    max-width: 240px;
    margin-bottom: 0!important;
    margin-top: 0px!important;
}
